* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

ul, a{
    text-decoration: none; 
    font-size: 1.45em;
    color: cornsilk;
}

ul > a  { 
    padding: 30px 0;
}
h1 { font-size: 120%;
     text-align: center;
     margin: 0 3.8em; }

h5 { font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 0.7em;
     padding: 0px 20px;
   }
h1, h5 {
    line-height: 2em; /*controla el interlineado*/
}

/*Seccion Header*/
header {
    background-color: rgb(225, 56, 90); 
    height: 55px;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: none;
}

.nav-menu_visible {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    margin-top: 55px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);
}

.nav-menu-link:hover {
    color: crimson;
}

.logo { 
    display: flex;
    align-items: center;

    font-size: 2.00em; 
    font-weight: bold;
    margin-left: 0.8em;
    color: cornsilk;
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    border: 0;
    background: transparent; /*vuelve transparente la caja*/
    gap: .65rem; /*separa los elementos*/

    margin: 12px 10px 0 0;
}

.nav-toggle > div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5; 
    transform-origin: left;
}

.nav-toggle:hover div:first-child { transform: rotate(45deg); }
.nav-toggle:hover div:nth-child(2) { opacity: 0; }
.nav-toggle:hover div:last-child { transform: rotate(-45deg); }

/*Seccion Info*/
#section-info { 
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    color: cornsilk;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(46, 3, 3, 0.7)
    ), url(../image/section-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right; /*Muestra la imagen desde la derecha*/
}

/*Seccion Rooms*/
#section-rooms {
    background-color: cornsilk; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.button-rooms {
    border-color: rgba(0, 0, 0, 0.849);
    padding: 5% 15%;
    border-radius: 25px;
    margin-top: 1em;
    background-color: rgb(225, 56, 90);
}

.button-rooms:hover {
    background-color: crimson;
    color: aliceblue;
}

/*Container IMG*/
.container-img {
    display: flex;
    flex-direction: column;
}

.hotel-img:first-child {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.445)
    ), url(../image/hotel-image1.png);
    background-size: cover;
}
.hotel-img:nth-child(2) {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.045),
        rgba(0, 0, 0, 0.445)
    ), url(../image/hotel-image4.png);
    background-size: cover;
}
.hotel-img:last-child {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.045),
        rgba(0, 0, 0, 0.445)
    ), url(../image/hotel-image5.png);
    background-size: cover;
}

.container-img, .hotel-img {
    width: 70vw;
    height: 120vh;
    border-radius: 20px;
}

div > .hotel-img {
    padding: 10px 0;
}

/*Seccion Direccion*/
#section-direccion {
    display: flex;
    padding: 2em;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(        
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(46, 3, 3, 0.7)
    ), url(../image/section-direccion.jpg);
    color: cornsilk;
}

/*Seccion Footer*/
#section-footer {
    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.8);
    color: cornsilk;
}