* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px; 
}

.hearder {
    margin-top: 2px;

    background-color:crimson;
    height: 60px;
    width: 100%;
    /*Para que se quede fijo al momento de hacer scroll, con position fixed
    establece la posicion con respecto a la ventana en la que nos encontramos, 
    ancho 100% pata que ocupe todo el ancho de la pantalla, ytop y left*/
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    /*Aplico flex, La propiedad justify-content de CSS define cómo el navegador 
    distribuye el espacio entre y alrededor de los elementos */
    display: flex;
    justify-content: space-between;

    max-width: 992px; /*controla el tamaño en el que se va a desplazar el texto dentro del header*/
    margin: 0 auto; /*hacemos que quede centrado, arriba y abajo 0 e izq, derch centrado*/
}

/*Clase que formatea los enlaces de la nav tanto el logo como los link, color blanco y text 
decoration elimina el subrayado*/
.nav-link {
    color: cornsilk;
    text-decoration: none;
}
.logo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: bold; /*grosura del texto*/
    padding: 0 20px; /*deja espacio izquierdo entre "Logo" y la ventana"*/
    line-height: 60px; /*Es el espacio de altura entre elementos, si le pongo los px del header
    se vera centrado con respecto al header y a la barra*/
}
.logo:hover {
    font-size: 40px;
    transition: 0.7s;
}

/*Le aplico estilos al nav menu que es lo que contiene las li, siempre voy aplicando caracteristicas 
generales a especificas, en este caso necesito que los elementos se comporten de x manera en una 
caja*/
.nav-menu {
    display: flex; /*por defecto los elementos quedan de manera horizontal con flex*/
    margin-right: 40px; /*Separo el ul nav-menu de la ventana derecha*/
    list-style: none; /*elimina las viñetas*/
}

.nav-menu-item {
    font-size: 16px;
    margin: 0 2px; /*De arriba/abajo 0px y izq/derecha 10px*/
    line-height: 60px; /*centra los elementos de acuerdo al header se elige*/
    text-transform: uppercase;
    width: max-content; /*En caso de hacer mas pequeña la pantalla no cortara el contenido*/ 
}

/*Hover, sirve para identificar cuando pasemos el mouse por encima*/
.nav-menu-link:hover {
    background-color: lightsalmon;
}
.nav-menu-link {
    padding: 20px 16px; /*aplico relleno entre las cajas, lo cual servira para colorear con el hover*/
    border-radius: 10px; /*Corta los filos de la caja para hacerlo bordeados*/
    transition: 0.7s;
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent; /*lo desaparecera hasta que trabaje con los div*/
    gap: .65rem; /*separamos los elementos*/
    margin: 15px 15px;

    display: none; /*Oculta la caja boton*/

}
/*Todos los elementos div que son hijos directos de la clase .button*/
.nav-toggle > div {
    background: black;
    height: 2px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
}
.nav-toggle:hover div:first-child { /*rota el primer div o palito*/
    transform: rotate(45deg);
}
.nav-toggle:hover div:nth-child(2){
    opacity: 0;
}
.nav-toggle:hover div:last-child {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    body {
        padding-top: 70px; 
    }
    
    .hearder {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px; 
        line-height: 60px;
    }

    .nav-link {
        color:beige;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center; /*Propiedad de flexbox que centra los elementos*/
        margin-right: 0px; /*porque ira el boton*/
        background-color:lightcoral;

        position: fixed; /*Para sacar la caja del flujo del documento y ubicarla donde quiera*/
        left: 0px;
        top: 62px;
        width: 100%; /*100% de ancho con respecto a la pantalla*/
        padding: 20px 0; /*Relleno arriba abajo y 0 derecha izq*/
        
        /*Agregamos un scroll cuando el contenido de la pag es mas grande que la pantalla*/
        height: calc(100% - 60px); /*estiramos para abajo el background*/
        overflow-y: auto; /*agrega la barra automaticamente*/
    }

    .nav-menu-item {
        line-height: 90px; /*Espacio entre altura de los elementos*/
    }
    
    /*Hace que al meterme la pag y presionar el boton de menu se muestre seleccionada*/
    .nav-menu-link:hover { 
        font-size: 25px; /*Hago el texto mas grande*/
        background: none; /*elimina la accion de recolorear la caja*/
        color: crimson;
    }
}